#cracker {
    background-color:red;    
}

#ancillary {
    background-color:lime;
}

#primaryReq {
    background-color:green;
}

.category {
    height:150px;
    width:960px;
    margin:auto;
    text-align:center;
    opacity:0.8;
}

.sample {
    margin:auto;
    background-color:grey;
    height:150px;
    width:960px;
    text-align:center;
    opacity:0.8;
}

.dragging {
    opacity: 0.4;
    background-color:white;
}    

.dropover {
    opacity: 0.3;
    background-color:yellow;
}

[draggable=true] {
  -khtml-user-drag: element;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

body {
    background-image:url('background.jpg');
}